::selection {
    /* Change highlight background color. */
    background: #000000;
  }

body {
    background-color: #161616;
    color: #ffffff;
    font-family: 'Space Mono';
    margin: 0;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #346751;
    font-family: 'Major Mono Display';
}

.instructions {
    font-size: 16px;
    opacity: 0.7;
    text-align: center;
    margin: 20px;
}

.center-text {
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
}

/* HTML for infowindow is defined in index.js -_- */
#infowindow input {
    margin: 2px;
    background-color: #C84B31;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Space Mono';
    font-size: 10px;
    padding: 5px;
    outline: none;
}

/* Manual MGR input */
#mgr-input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mgr-input-group {
    width: 360px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#mgr-input-box {
    font-family: 'Space Mono';
    font-size: 16px;
    text-align: center;
    border-radius: 75px;
    border: 2px solid #ffffff;
    padding: 0.60em;
    width: 240px;
}

#mgr-input-button {
    background-color: #346751;
    border-radius: 75px;
    border: 2px solid #ffffff;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Space Mono';
    cursor: pointer;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    width: 80px;
}

/* Intervals pillbox */
.intervals {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radiogroup {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.radiogroup label {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    background: #ffffff;
    color: #000000;
    border: 0;
    padding: 0.60em;
    transition: background 100ms ease-out;
    -webkit-transition: background 100ms ease-out;
    -moz-transition: background 100ms ease-out;
    -ms-transition: background 100ms ease-out;
    -o-transition: background 100ms ease-out;
}

.radiogroup .radio-left {
    border-radius: 75px 0 0 75px;
}

.radiogroup .radio-right {
    border-radius: 0 75px 75px 0;
}

.radiogroup label input {
    display: none;
}

.radiogroup label:has(input:checked) {
    background-color: #346751;
    color: #ffffff;
}

/* Follow up action */
.follow-up-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 30px;
}

.follow-up-action button:active {
    transform: scale(0.98);
}

#clear {
    background-color: #C84B31;
    border-radius: 75px;
    border: 2px solid #ffffff;
    width: 80px;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Space Mono';
    cursor: pointer;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

#run {
    background-color: #346751;
    border-radius: 75px;
    border: 2px solid #ffffff;
    width: 80px;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Space Mono';
    cursor: pointer;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

/* NDS table */
#table-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 95%;
    text-align: center;
}

th {
    border:1px solid #000000;
    background-color: #346751;
    padding: 6px 2px;
}

td {
    border:1px solid #000000;
    padding: 6px 2px;
}

tr:nth-child(even) {
    background-color: #212121;
}